*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-position: center;
    color: black;
    position: relative;
    top: 0%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uno{
    height: 20vh;
    width: 100%;
    background-color: #00BFA5;
    position: absolute;
    top: 0%;
}
.dos{
    background: #D9EFED;
    height: 80vh;
    position: absolute;
    bottom: 0%;
    width: 100%;
}
.start-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 250px;
    font-weight: bolder;
    width: 376px;
    font-size: 2.2em;
    border: 4px solid #00BFA5;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #00BFA5;
    background-color: #fff;
}
.start-btn:hover{

    color : rgb(3, 199, 173);
    box-shadow: 0px 0px 10px -1px #00BFA5;
}

.container{
    background: white;

    height: 75vh;
    width: 810px;

    box-shadow: 0px 5px 15px 0px gray;
    position: relative;

}
.texto{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    text-align: center;
    padding: 15px 0;
    margin: 15px 0;
    border-radius: 50px;
    background-color: #fff;
    outline: none;
    border: 2px solid #aaa;
    color: #aaa;
    font-size: 20px;
    box-shadow: 0px 0px 10px -4px;
}

#qImg{

    position: absolute;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 300px;
    height : 300px;
}

.question{
    width: 500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
    padding-top: 15px;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 500px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 20px
}

.btn:hover{
    color: black;
    cursor: pointer;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    position: absolute;
  display: flex;
  justify-content: center;
    padding:15px;
    text-align: right;
    bottom: 0;
    margin-right: -50%;
    left: 50%;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #aaa;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    background-color: white;
    opacity: 0.8;
    height: 75vh;
    width: 810px;
    position: relative;
}
#scoreContainer img{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -60%);
    max-width: 378px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    height: 59px;
    top: 404px;
    left: 359px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: black;
}
